<h3>Actores que participaron en alguna pelicula.</h3>
<h4>Ordenados por likes en Facebook (Menor a mayor) <br> Los datos de los actores son:</h4>
<table>
  <tr>
    <th>Id Actor</th>
    <th>Nombre Actor</th>
    <th>Likes del Actor</th>
  </tr>
  <tr *ngFor="let actor of listActors">
    <td>{{actor.id}}</td>
    <td>{{actor.name}}</td>
    <td>{{actor.likes_facebook}}</td>
  </tr>
</table>
