table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid gray;
  padding: 8px;
  text-align: left;
}

table tr:nth-child(even) {
  background-color: white;
}

table tr:hover {
  background-color: bisque;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: blue;
  color: white;
}

h4 {
  text-align: left;
}
